<h1>Listing Movies</h1>

<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr style="background-color: #f8f9fa;">
      <th class="<%= 'highlight' if params[:sort] == 'title' %>" 
          data-direction="<%= params[:direction] if params[:sort] == 'title' %>">
        <%= link_to "Title #{sort_indicator('title', params[:sort], params[:direction])}".html_safe, 
                    movies_path(sort: 'title', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
      </th>
      <th class="<%= 'highlight' if params[:sort] == 'rating' %>" 
          data-direction="<%= params[:direction] if params[:sort] == 'rating' %>">
        <%= link_to "Rating #{sort_indicator('rating', params[:sort], params[:direction])}".html_safe, 
                    movies_path(sort: 'rating', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
      </th>
      <th>Description</th>
      <th class="<%= 'highlight' if params[:sort] == 'release_date' %>" 
          data-direction="<%= params[:direction] if params[:sort] == 'release_date' %>">
        <%= link_to "Release Date #{sort_indicator('release_date', params[:sort], params[:direction])}".html_safe, 
                    movies_path(sort: 'release_date', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr style="border-bottom: 1px solid #ddd;">
        <td style="padding: 8px;"><%= movie.title %></td>
        <td style="padding: 8px;"><%= movie.rating %></td>
        <td style="padding: 8px;"><%= movie.description %></td>
        <td style="padding: 8px;"><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
