<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to "Title", movies_path(sort: 'title', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
      </th>
      <th>
        <%= link_to "Rating", movies_path(sort: 'rating', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
      </th>
      <th>Description</th>
      <th>
        <%= link_to "Release Date", movies_path(sort: 'release_date', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.description %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
