<!DOCTYPE html>
<html>
<head>
  <title>RottenPotatoes5</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbolinks-track": "reload" %>
  <%= javascript_importmap_tags %>  <!-- Make sure this line is included -->
</head>

<body>
  <%= yield %>
</body>
</html>
